.profile {
    padding: 35px 20px;
    border-radius: 17px;
    background-color: rgb(237, 237, 237);
    box-shadow: 1px 2px 9px rgba(46, 47, 66, 0.08), 1px 2px 9px rgba(46, 47, 66, 0.16), 1px 3px 9px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profile:hover {
    box-shadow: 3px 4px 20px rgba(166, 166, 166, 0.4),
        3px 4px 20px rgba(162, 162, 162, 0.8), 3px 4px 20px rgba(166, 166, 166, 0.8);
}

.profile p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.description {
    display: flex;
}

.avatar-user {
    width: 200px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.quantity {
    font-weight: 500;
}